cpp-esp/nodered/flows.json
[
    {
        "id": "02823894daf27bbe",
        "type": "tab",
        "label": "EcoWatt Cloud Gateway",
        "disabled": false,
        "info": "EcoWatt UI wired to Flask /api/uploads (actual parsed samples)\n- /dashboard: Recent uploads grouped by device (expandable uploads) + recent benchmarks with min/avg/max\n- /benchmarks: separate component for benchmark table + chart\n- /api/data: HTML/JSON/CSV data viewer\n- /api/flask_push: receiver for Flask -> Node-RED push payloads (stored in global.flask_pushes)"
    },
    {
        "id": "59c98c114831c822",
        "type": "http in",
        "z": "02823894daf27bbe",
        "name": "Dashboard Endpoint",
        "url": "/dashboard",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "f8f0a1e6f8d94a0d"
            ]
        ]
    },
    {
        "id": "f8f0a1e6f8d94a0d",
        "type": "http request",
        "z": "02823894daf27bbe",
        "name": "GET Flask /api/uploads",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/api/uploads",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 420,
        "y": 100,
        "wires": [
            [
                "c2d9e5b8b5b9a7a2"
            ]
        ]
    },
    {
        "id": "c2d9e5b8b5b9a7a2",
        "type": "function",
        "z": "02823894daf27bbe",
        "name": "Dashboard (Grouped by Device + Bench Aggregates)",
        "func": "// Dashboard page: device-grouped recent uploads (expandable uploads) + recent benchmarks with min/avg/max\n\nconst REG_NAMES = {\n  0: 'Vac1 /L1 Phase voltage',\n  1: 'Iac1 /L1 Phase current',\n  2: 'Fac1 /L1 Phase frequency',\n  3: 'Vpv1 /PV1 input voltage',\n  4: 'Vpv2 /PV2 input voltage',\n  5: 'Ipv1 /PV1 input current',\n  6: 'Ipv2 /PV2 input current',\n  7: 'Inverter internal temperature',\n  8: 'Set the export power percentage',\n  9: 'Pac L /Inverter current output power'\n};\n\nconst flask = msg.payload || {};\nconst uploads = Array.isArray(flask.uploads) ? flask.uploads : [];\nconst benchmarks = Array.isArray(flask.benchmarks) ? flask.benchmarks : [];\n\n// Stats\nconst totalUploads = uploads.length;\nconst latest = totalUploads ? uploads[uploads.length - 1] : null;\nconst lastUploadTs = latest ? latest.timestamp : 'None';\n\n// Group uploads by device; sort devices by latest activity (desc) and uploads by ts (desc)\nconst deviceGroups = new Map();\nfor (const u of uploads) {\n  const id = u.device_id || 'Unknown-Device';\n  if (!deviceGroups.has(id)) deviceGroups.set(id, []);\n  deviceGroups.get(id).push(u);\n}\nconst deviceOrder = [...deviceGroups.entries()].map(([id, list]) => {\n  const latestTs = list.reduce((m, r) => Math.max(m, new Date(r.timestamp).getTime()||0), 0);\n  return { id, list, latestTs };\n}).sort((a,b)=> b.latestTs - a.latestTs);\n\n// Limit recent view to the newest ~10 uploads overall, but grouped under devices\n// Build a flattened list of uploads sorted desc to compute the cap, then slice per device accordingly\nconst sortedAll = uploads.slice().sort((a,b)=> new Date(b.timestamp)-new Date(a.timestamp));\nconst capUploads = sortedAll.slice(0, 10);\nconst capSet = new Set(capUploads.map(u => `${u.device_id||'Unknown-Device'}@@${u.timestamp}`));\n\nlet deviceHtml = '';\nif (deviceOrder.length === 0) {\n  deviceHtml = '<tr><td colspan=\"5\" style=\"text-align:center;color:#7f8c8d;font-style:italic;\">No uploads yet</td></tr>';\n} else {\n  let globalIndex = 0;\n  for (const { id: devId, list } of deviceOrder) {\n    // Filter each device's list by the overall cap set and sort desc\n    const listFiltered = list\n      .filter(u => capSet.has(`${u.device_id||'Unknown-Device'}@@${u.timestamp}`))\n      .sort((a,b)=> new Date(b.timestamp)-new Date(a.timestamp));\n    if (!listFiltered.length) continue;\n\n    const lastSeen = new Date(listFiltered[0].timestamp).toLocaleString();\n    const totalForDevice = list.length;\n\n    // Device header row (non-click)\n    deviceHtml += `\n      <tr class=\"device-row\">\n        <td class=\"device-cell\" colspan=\"5\">\n          <div class=\"dev-header\">\n            <div class=\"dev-title\">${devId}</div>\n            <div class=\"dev-meta\">Last seen: ${lastSeen} • Total uploads: ${totalForDevice}</div>\n          </div>\n        </td>\n      </tr>`;\n\n    // Upload rows under device (each expandable)\n    listFiltered.forEach((u, idx) => {\n      const uid = `dev_${globalIndex}_u_${idx}`;\n      const samplesCount = Array.isArray(u.samples) ? u.samples.length : 0;\n\n      // Build preview chips grouped by register\n      let regMap = new Map();\n      (u.samples || []).forEach(s => {\n        const key = s.reg_addr;\n        if (!regMap.has(key)) regMap.set(key, []);\n        const val = (typeof s.value === 'number') ? s.value.toFixed(3) : s.value;\n        regMap.get(key).push({ ts: s.timestamp, v: val });\n      });\n\n      const detailSections = [...regMap.entries()].map(([reg, arr]) => {\n        const chips = arr.slice(0, 12).map(p => `<span class=\\\"chip\\\" title=\\\"ts:${p.ts}\\\">${p.v}</span>`).join('');\n        return `\n          <div class=\\\"reg-block\\\">\n            <div class=\\\"reg-title\\\">${REG_NAMES[reg] || ('Reg '+reg)}</div>\n            <div class=\\\"chip-row\\\">${chips || '<span class=\\\"chip\\\">(no values)</span>'}</div>\n          </div>`;\n      }).join('');\n\n      deviceHtml += `\n        <tr class=\\\"data-row\\\" onclick=\\\"toggleDetails('${uid}')\\\">\n          <td class=\\\"expand-cell\\\"><span class=\\\"expand-btn\\\" id=\\\"btn_${uid}\\\">▶</span></td>\n          <td>${new Date(u.timestamp).toLocaleString()}</td>\n          <td><strong>${u.device_id || 'Unknown-Device'}</strong></td>\n          <td>${u.bytes || 0} bytes</td>\n          <td>${samplesCount}</td>\n        </tr>\n        <tr class=\\\"detail-row\\\" id=\\\"${uid}\\\" style=\\\"display:none;\\\">\n          <td colspan=\\\"5\\\">\n            <div class=\\\"detail-content\\\">\n              <div class=\\\"detail-grid\\\">${detailSections || '<div class=\\\"reg-block\\\"><div class=\\\"reg-title\\\">No samples</div></div>'}</div>\n              <div class=\\\"meta\\\">\n                <div><strong>Device:</strong> ${u.device_id || 'Unknown'}</div>\n                <div><strong>Stored:</strong> ${new Date(u.timestamp).toLocaleString()}</div>\n                <div><strong>Payload:</strong> ${u.bytes || 0} bytes</div>\n                <div><strong>Samples:</strong> ${samplesCount}</div>\n              </div>\n            </div>\n          </td>\n        </tr>`;\n    });\n    globalIndex++;\n  }\n}\n\n// Recent Benchmarks with Min/Avg/Max\nconst benchPeek = benchmarks.slice(-5).reverse().map(b => `\n  <tr>\n    <td>${b.compression_method || b.method || 'delta'}</td>\n    <td>${b.num_samples ?? ''}</td>\n    <td>${b.original_size ?? ''}</td>\n    <td>${b.compressed_size ?? ''}</td>\n    <td>${b.compression_ratio ?? ''}</td>\n    <td>${(b.min ?? '')}</td>\n    <td>${(b.avg ?? '')}</td>\n    <td>${(b.max ?? '')}</td>\n    <td>${(b.lossless ?? b.lossless_verified) ? '✔️' : '❌'}</td>\n  </tr>`).join('');\n\n// HTML\nmsg.payload = `\n<!DOCTYPE html>\n<html>\n<head>\n  <title>EcoWatt Cloud Gateway - Team Pebble</title>\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1.0\\\">\n  <meta http-equiv=\\\"refresh\\\" content=\\\"30\\\">\n  <style>\n    *{margin:0;padding:0;box-sizing:border-box}\n    body{font-family:'Segoe UI',Arial,sans-serif;background:#f5f7fa}\n    .header{background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);color:#fff;padding:26px 18px;text-align:center}\n    .header h1{font-size:2.2em;margin-bottom:4px}\n    .container{max-width:1250px;margin:0 auto;padding:16px}\n    .card{background:#fff;border-radius:12px;box-shadow:0 4px 20px rgba(0,0,0,.08);padding:16px;margin-bottom:16px}\n    .statrow{display:grid;grid-template-columns:repeat(4,minmax(160px,1fr));gap:12px}\n    .stat{background:#fff;border-radius:12px;box-shadow:0 4px 20px rgba(0,0,0,.08);padding:18px;text-align:center}\n    .label{color:#7f8c8d;font-size:.9em;margin-bottom:6px}\n    .value{font-size:1.8em;font-weight:700;color:#34495e}\n    table{width:100%;border-collapse:collapse}\n    th{background:#34495e;color:#fff;padding:10px;text-align:left}\n    td{padding:10px;border-bottom:1px solid #ecf0f1}\n    .device-row{background:#eef3ff}\n    .device-cell{padding:10px 12px}\n    .dev-header{display:flex;justify-content:space-between;flex-wrap:wrap;gap:8px}\n    .dev-title{font-weight:700;color:#2c3e50}\n    .dev-meta{color:#6b7280}\n    .expand-cell{width:34px;text-align:center}\n    .expand-btn{color:#3498db;font-weight:700;display:inline-block;transition:transform .2s ease}\n    .expand-btn.expanded{transform:rotate(90deg)}\n    .data-row{cursor:pointer}\n    .detail-row{background:#f8f9fa}\n    .detail-content{padding:12px 4px 4px 4px;border-left:4px solid #3498db}\n    .detail-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(260px,1fr));gap:10px;margin-bottom:8px}\n    .reg-block{background:#fff;border-radius:10px;box-shadow:0 2px 10px rgba(0,0,0,.05);padding:10px}\n    .reg-title{font-size:.95em;color:#2c3e50;margin-bottom:6px}\n    .chip-row{display:flex;flex-wrap:wrap;gap:6px}\n    .chip{background:#e9ecef;border-radius:16px;padding:4px 8px;font-size:.82em}\n    .meta{display:flex;gap:16px;flex-wrap:wrap;color:#555;font-size:.9em;margin-top:6px}\n  </style>\n  <script>\n    function toggleDetails(id){\n      const row = document.getElementById(id);\n      const btn = document.getElementById('btn_'+id);\n      if(!row||!btn) return;\n      if(row.style.display==='none' || row.style.display===''){\n        row.style.display='table-row';\n        btn.innerHTML='▼';\n        btn.classList.add('expanded');\n      }else{\n        row.style.display='none';\n        btn.innerHTML='▶';\n        btn.classList.remove('expanded');\n      }\n    }\n  </script>\n</head>\n<body>\n  <div class=\\\"header\\\">\n    <h1>EcoWatt Cloud Gateway</h1>\n    <p style=\\\"opacity:.9\\\">Updated: ${new Date().toLocaleString()}</p>\n  </div>\n  <div class=\\\"container\\\">\n    <!-- Device-grouped recent uploads (TOP) -->\n    <div class=\\\"card\\\">\n      <h2 style=\\\"margin-bottom:10px;color:#2c3e50;font-size:1.1em;\\\">Recent Uploads by Device (click upload to expand)</h2>\n      <table>\n        <thead><tr><th></th><th>Timestamp</th><th>Device</th><th>Payload</th><th>Samples</th></tr></thead>\n        <tbody>${deviceHtml}</tbody>\n      </table>\n    </div>\n\n    <!-- Stats -->\n    <div class=\\\"statrow\\\">\n      <div class=\\\"stat\\\"><div class=\\\"label\\\">Total Uploads</div><div class=\\\"value\\\">${totalUploads}</div></div>\n      <div class=\\\"stat\\\"><div class=\\\"label\\\">Active Devices</div><div class=\\\"value\\\">${deviceGroups.size}</div></div>\n      <div class=\\\"stat\\\"><div class=\\\"label\\\">Last Upload Time</div><div class=\\\"value\\\" style=\\\"font-size:1.2em;\\\">${lastUploadTs!=='None'? new Date(lastUploadTs).toLocaleTimeString(): 'None'}</div></div>\n      <div class=\\\"stat\\\"><div class=\\\"label\\\">Flask Status</div><div class=\\\"value\\\" style=\\\"color:#27ae60\\\">Connected</div></div>\n    </div>\n\n    <!-- Recent Benchmarks with Min/Avg/Max -->\n    <div class=\\\"card\\\" style=\\\"margin-top:16px\\\">\n      <h2 style=\\\"margin-bottom:10px;color:#2c3e50;font-size:1.1em;\\\">Recent Benchmarks</h2>\n      <table>\n        <thead><tr><th>Method</th><th>Samples</th><th>Original</th><th>Compressed</th><th>Ratio</th><th>Min</th><th>Avg</th><th>Max</th><th>Lossless</th></tr></thead>\n        <tbody>${benchPeek || '<tr><td colspan=\\\"9\\\" style=\\\"text-align:center;color:#7f8c8d;\\\">No benchmark entries</td></tr>'}</tbody>\n      </table>\n    </div>\n  </div>\n</body>\n</html>`;\n\nmsg.headers = { 'Content-Type': 'text/html' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 17,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 60,
        "wires": [
            [
                "347d6585209e86cf"
            ]
        ]
    },
    {
        "id": "347d6585209e86cf",
        "type": "http response",
        "z": "02823894daf27bbe",
        "name": "Dashboard Response",
        "statusCode": "",
        "headers": {},
        "x": 1160,
        "y": 100,
        "wires": []
    },
    {
        "id": "9485c40f78b7a50c",
        "type": "http in",
        "z": "02823894daf27bbe",
        "name": "Data Viewer Endpoint",
        "url": "/api/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "6b9f6e2a7c7d4e8a"
            ]
        ]
    },
    {
        "id": "6b9f6e2a7c7d4e8a",
        "type": "http request",
        "z": "02823894daf27bbe",
        "name": "GET Flask /api/uploads",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/api/uploads",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "21ea39e2b613fd0a"
            ]
        ]
    },
    {
        "id": "21ea39e2b613fd0a",
        "type": "function",
        "z": "02823894daf27bbe",
        "name": "Data Viewer (from Flask)",
        "func": "// Filterable/Exportable viewer fed by Flask uploads\nconst flask = msg.payload || {};\nconst uploads = Array.isArray(flask.uploads) ? flask.uploads : [];\nconst deviceStats = {};\nfor (const u of uploads) {\n  const id = u.device_id || 'Unknown-Device';\n  if (!deviceStats[id]) deviceStats[id] = { totalRecords: 0, firstSeen: u.timestamp, lastSeen: u.timestamp };\n  deviceStats[id].totalRecords++;\n  deviceStats[id].lastSeen = u.timestamp;\n}\n\nconst q = (msg.req && msg.req.query) || {};\nconst deviceId = q.device || '';\nconst limit = parseInt(q.limit) || 25;\nconst offset = parseInt(q.offset) || 0;\nconst format = q.format || 'html';\nconst sortBy = q.sort || 'timestamp';\nconst order = q.order || 'desc';\n\nlet rows = uploads.slice();\nif (deviceId) rows = rows.filter(r => (r.device_id||'') === deviceId);\n\nrows.sort((a,b)=>{\n  let av,bv;\n  switch (sortBy) {\n    case 'deviceId': av=(a.device_id||''); bv=(b.device_id||''); break;\n    case 'payloadSize': av=(a.bytes||0); bv=(b.bytes||0); break;\n    case 'timestamp':\n    default: av=new Date(a.timestamp); bv=new Date(b.timestamp); break;\n  }\n  return order==='asc' ? (av>bv?1:-1) : (av<bv?1:-1);\n});\n\nconst totalRecords = rows.length;\nconst paginated = rows.slice(offset, offset+limit);\n\nif (format === 'json') {\n  msg.payload = {\n    metadata: { total: totalRecords, limit, offset, deviceFilter: deviceId, sortBy, order, source: 'flask:/api/uploads' },\n    devices: Object.keys(deviceStats).map(id => ({ deviceId: id, ...deviceStats[id] })),\n    data: paginated.map(r => ({ deviceId: r.device_id, timestamp: r.timestamp, bytes: r.bytes, samples: r.samples, flask_uploaded: true })),\n    generatedAt: new Date().toISOString()\n  };\n  msg.headers = { 'Content-Type': 'application/json' };\n  return msg;\n}\n\nif (format === 'csv') {\n  let csv = 'DeviceID,Timestamp,Bytes,NumSamples\\n';\n  for (const r of paginated) {\n    csv += `\"${r.device_id||''}\",\"${r.timestamp||''}\",\"${r.bytes||0}\",\"${Array.isArray(r.samples)?r.samples.length:0}\"\\n`;\n  }\n  msg.payload = csv;\n  msg.headers = { 'Content-Type': 'text/csv', 'Content-Disposition': 'attachment; filename=\"ecowatt-flask-data.csv\"' };\n  return msg;\n}\n\nconst deviceOptions = Object.keys(deviceStats).map(id => `<option value=\"${id}\" ${deviceId===id?'selected':''}>${id}</option>`).join('');\nconst dataRows = paginated.map(r => {\n  const num = Array.isArray(r.samples)? r.samples.length : 0;\n  const preview = Array.isArray(r.samples)? r.samples.slice(0,8).map(s=>s.value).join(', ') : 'N/A';\n  return `\n    <tr>\n      <td><strong>${r.device_id||''}</strong></td>\n      <td>${new Date(r.timestamp).toLocaleString()}</td>\n      <td>${r.bytes||0} bytes</td>\n      <td>${num}</td>\n      <td><details><summary>Preview</summary><div style=\"margin-top:8px;font-family:monospace;\">${preview}</div></details></td>\n    </tr>`;\n}).join('');\n\nconst prevOffset = Math.max(0, offset - limit);\nconst nextOffset = offset + limit;\nconst hasNext = nextOffset < totalRecords;\nconst hasPrev = offset > 0;\nconst currentPage = Math.floor(offset/limit) + 1;\nconst totalPages = Math.ceil(totalRecords/limit);\n\nmsg.payload = `\n<!DOCTYPE html>\n<html>\n<head>\n  <title>EcoWatt Data Viewer - Flask</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    *{margin:0;padding:0;box-sizing:border-box}\n    body{font-family:'Segoe UI',Arial,sans-serif;background:#f5f7fa}\n    .header{background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);color:#fff;padding:26px 18px;text-align:center}\n    .container{max-width:1400px;margin:0 auto;padding:16px}\n    .filters,.table-container,.pagination,.stats{background:#fff;border-radius:12px;box-shadow:0 4px 20px rgba(0,0,0,.08)}\n    .filters{padding:16px;margin-bottom:16px}\n    .filters form{display:flex;gap:12px;flex-wrap:wrap;align-items:center}\n    .filters select{padding:8px 10px;border:1px solid #ddd;border-radius:6px}\n    .filters button{background:#667eea;color:#fff;padding:8px 16px;border:0;border-radius:6px;cursor:pointer}\n    table{width:100%;border-collapse:collapse}\n    th{background:#34495e;color:#fff;padding:10px;text-align:left}\n    td{padding:10px;border-bottom:1px solid #ecf0f1}\n    .pagination{padding:16px;margin-top:16px;text-align:center;background:#fff;border-radius:12px;box-shadow:0 4px 20px rgba(0,0,0,.08)}\n    .pagination a{display:inline-block;padding:8px 16px;margin:0 5px;background:#667eea;color:#fff;text-decoration:none;border-radius:6px}\n    .pagination a.disabled{background:#95a5a6;pointer-events:none}\n    .nav a{color:#667eea;text-decoration:none;border:1px solid #667eea;border-radius:8px;padding:6px 10px;margin-right:8px}\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>🌱 EcoWatt Data Viewer</h1>\n    <p>Flask Integration • Binary Delta → Samples</p>\n  </div>\n  <div class=\"container\">\n    <div class=\"nav\" style=\"margin:10px 0 14px 0;\">\n      <a href=\"/dashboard\">🏠 Dashboard</a>\n      <a href=\"/api/data\">📊 Data Viewer</a>\n      <a href=\"/benchmarks\">📈 Benchmarks</a>\n    </div>\n    <div class=\"filters\">\n      <form method=\"GET\">\n        <label><strong>Device:</strong></label>\n        <select name=\"device\"><option value=\"\">All</option>${deviceOptions}</select>\n        <label><strong>Records:</strong></label>\n        <select name=\"limit\">\n          <option value=\"25\" ${limit===25?'selected':''}>25</option>\n          <option value=\"50\" ${limit===50?'selected':''}>50</option>\n          <option value=\"100\" ${limit===100?'selected':''}>100</option>\n        </select>\n        <label><strong>Sort:</strong></label>\n        <select name=\"sort\">\n          <option value=\"timestamp\" ${sortBy==='timestamp'?'selected':''}>Timestamp</option>\n          <option value=\"deviceId\" ${sortBy==='deviceId'?'selected':''}>Device</option>\n          <option value=\"payloadSize\" ${sortBy==='payloadSize'?'selected':''}>Size</option>\n        </select>\n        <button type=\"submit\">🔍 Apply</button>\n      </form>\n    </div>\n    <div class=\"table-container\">\n      <table>\n        <thead><tr><th>Device</th><th>Timestamp</th><th>Payload</th><th>Samples</th><th>Preview</th></tr></thead>\n        <tbody>${dataRows || '<tr><td colspan=\"5\" style=\"text-align:center;padding:32px;\">No data</td></tr>'}</tbody>\n      </table>\n    </div>\n    <div class=\"pagination\">\n      <p>Showing ${offset+1}-${Math.min(offset+limit,totalRecords)} of ${totalRecords}</p><br>\n      ${hasPrev? `<a href=\"?${new URLSearchParams({...q, offset: prevOffset}).toString()}\">← Previous</a>`: '<a class=\"disabled\">← Previous</a>'}\n      ${hasNext? `<a href=\"?${new URLSearchParams({...q, offset: nextOffset}).toString()}\">Next →</a>`: '<a class=\"disabled\">Next →</a>'}\n      <div style=\"margin-top:8px\">\n        <a href=\"?${new URLSearchParams({...q, format:'json'}).toString()}\">📄 Export JSON</a>\n        &nbsp;&nbsp;\n        <a href=\"?${new URLSearchParams({...q, format:'csv'}).toString()}\">💾 Download CSV</a>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nmsg.headers = { 'Content-Type': 'text/html' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 180,
        "wires": [
            [
                "658630f23deee642"
            ]
        ]
    },
    {
        "id": "658630f23deee642",
        "type": "http response",
        "z": "02823894daf27bbe",
        "name": "Data Viewer Response",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 180,
        "wires": []
    },
    {
        "id": "7b9c9b2e2d6f4a6b",
        "type": "http in",
        "z": "02823894daf27bbe",
        "name": "Benchmarks Endpoint",
        "url": "/benchmarks",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "c1e4c0b11a3f9b44"
            ]
        ]
    },
    {
        "id": "c1e4c0b11a3f9b44",
        "type": "http request",
        "z": "02823894daf27bbe",
        "name": "GET Flask /api/uploads",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/api/uploads",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "6c6dbf2af2c34a23"
            ]
        ]
    },
    {
        "id": "6c6dbf2af2c34a23",
        "type": "function",
        "z": "02823894daf27bbe",
        "name": "Benchmarks Page (table + chart)",
        "func": "// Dedicated benchmarks component from Flask's BENCHMARKS (already shows min/avg/max)\nconst flask = msg.payload || {};\nconst benchmarks = Array.isArray(flask.benchmarks) ? flask.benchmarks : [];\n\nconst rows = benchmarks.map((b, i) => `\n  <tr>\n    <td>${new Date(b.timestamp || Date.now() - (benchmarks.length-i)*1000).toLocaleString()}</td>\n    <td>${b.compression_method || b.method || 'delta'}</td>\n    <td>${b.num_samples ?? ''}</td>\n    <td>${b.original_size ?? ''}</td>\n    <td>${b.compressed_size ?? ''}</td>\n    <td>${b.compression_ratio ?? ''}</td>\n    <td>${b.cpu_time_ms ?? ''}</td>\n    <td>${(b.lossless ?? b.lossless_verified) ? '✔️' : '❌'}</td>\n    <td>${(b.min ?? '')}</td>\n    <td>${(b.avg ?? '')}</td>\n    <td>${(b.max ?? '')}</td>\n  </tr>`).join('');\n\nconst last = benchmarks.slice(-25);\nconst labels = last.map((b,i)=> (b.timestamp? new Date(b.timestamp).toLocaleTimeString(): `#${i+1}`));\nconst ratio = last.map(b => Number(b.compression_ratio || 0));\nconst orig = last.map(b => Number(b.original_size || 0));\nconst comp = last.map(b => Number(b.compressed_size || 0));\n\nmsg.payload = `\n<!DOCTYPE html>\n<html>\n<head>\n  <title>EcoWatt Benchmarks</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.1\"></script>\n  <style>\n    *{margin:0;padding:0;box-sizing:border-box}\n    body{font-family:'Segoe UI',Arial,sans-serif;background:#f5f7fa}\n    .header{background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);color:#fff;padding:26px 18px;text-align:center}\n    .container{max-width:1200px;margin:0 auto;padding:16px}\n    .nav a{color:#667eea;text-decoration:none;border:1px solid #667eea;border-radius:8px;padding:6px 10px;margin-right:8px}\n    .card{background:#fff;border-radius:12px;box-shadow:0 4px 20px rgba(0,0,0,.08);padding:16px;margin-bottom:16px}\n    table{width:100%;border-collapse:collapse}\n    th{background:#34495e;color:#fff;padding:10px;text-align:left}\n    td{padding:10px;border-bottom:1px solid #ecf0f1}\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>📈 EcoWatt Benchmarks</h1>\n    <p>Compression & acquisition statistics</p>\n  </div>\n  <div class=\"container\">\n    <div class=\"nav\" style=\"margin:10px 0 14px 0;\">\n      <a href=\"/dashboard\">🏠 Dashboard</a>\n      <a href=\"/api/data\">📊 Data Viewer</a>\n      <a href=\"/benchmarks\">📈 Benchmarks</a>\n    </div>\n\n    <div class=\"card\">\n      <h2>Trend (last ${last.length})</h2>\n      <canvas id=\"benchChart\" height=\"110\"></canvas>\n    </div>\n\n    <div class=\"card\">\n      <h2>All Benchmarks</h2>\n      <table>\n        <thead>\n          <tr><th>Time</th><th>Method</th><th>#Samples</th><th>Original</th><th>Compressed</th><th>Ratio</th><th>CPU ms</th><th>Lossless</th><th>Min</th><th>Avg</th><th>Max</th></tr>\n        </thead>\n        <tbody>${rows || '<tr><td colspan=\"11\" style=\"text-align:center;color:#7f8c8d;\">No benchmark entries</td></tr>'}</tbody>\n      </table>\n    </div>\n  </div>\n\n  <script>\n    const labels = ${JSON.stringify(labels)};\n    const ratio = ${JSON.stringify(ratio)};\n    const orig = ${JSON.stringify(orig)};\n    const comp = ${JSON.stringify(comp)};\n\n    const ctx = document.getElementById('benchChart').getContext('2d');\n    new Chart(ctx, {\n      data: {\n        labels,\n        datasets: [\n          { type:'line', label:'Compression Ratio', data: ratio, yAxisID:'y1', borderWidth:2, tension:0.2, pointRadius:2 },\n          { type:'bar', label:'Original Size', data: orig, yAxisID:'y', borderWidth:1 },\n          { type:'bar', label:'Compressed Size', data: comp, yAxisID:'y', borderWidth:1 }\n        ]\n      },\n      options: {\n        responsive: true,\n        interaction: { mode:'index', intersect:false },\n        scales: {\n          y: { title:{display:true,text:'Bytes'}, beginAtZero:true, stacked:true },\n          y1: { position:'right', title:{display:true,text:'Ratio'}, beginAtZero:false, grid:{ drawOnChartArea:false } }\n        },\n        plugins: { legend:{ position:'bottom' } }\n      }\n    });\n  </script>\n</body>\n</html>`;\n\nmsg.headers = { 'Content-Type': 'text/html' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 260,
        "wires": [
            [
                "f2a3a8d9d0e7433c"
            ]
        ]
    },
    {
        "id": "f2a3a8d9d0e7433c",
        "type": "http response",
        "z": "02823894daf27bbe",
        "name": "Benchmarks Response",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 260,
        "wires": []
    },
    {
        "id": "4a08c25420049d99",
        "type": "http in",
        "z": "02823894daf27bbe",
        "name": "Flask → Node-RED Push",
        "url": "/api/flask_push",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "f56c566d4cb493ba"
            ]
        ]
    },
    {
        "id": "f56c566d4cb493ba",
        "type": "function",
        "z": "02823894daf27bbe",
        "name": "Store Flask Push",
        "func": "// Store Flask push payloads for reference (optional)\nlet body = msg.payload;\nif (typeof body === 'string') { try { body = JSON.parse(body); } catch(e) { body = {}; } }\nif (!body || typeof body !== 'object') { msg.statusCode = 400; msg.payload = { status:'error', error:'Invalid JSON' }; return msg; }\nconst pushes = global.get('flask_pushes') || [];\npushes.push({ id: `${body.device_id||'Unknown'}_${Date.now()}`, ...body });\nif (pushes.length > 1000) pushes.splice(0, pushes.length - 1000);\n\nglobal.set('flask_pushes', pushes);\nmsg.payload = { status:'ok', stored:true, count: pushes.length };\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "f69c9c796092fa72"
            ]
        ]
    },
    {
        "id": "f69c9c796092fa72",
        "type": "http response",
        "z": "02823894daf27bbe",
        "name": "Push Response",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 340,
        "wires": []
    }
]
